div.title{
    font-family: 'Audiowide', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}